$bgcolor: black;
$textcolor: white;
$fontsize: 14px;
$width: 540px;


body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  width: $width;
}                  
/* .center {
	text-align: center;
	border: 9px red;
}
*/
